.RightSide{
    position: relative;
    height: 100%;
    .HeaderMenu{
        $height:60px;
        height: $height;
        line-height: $height;
        position: relative;
        border-bottom:30px solid rgb(250, 250, 231);
        .bar{
            position: absolute;
            left: 0px;
            top:0px;
            padding-left: 20px;
            padding-right: 20px;
            transform: rotate(0deg);
            transition: transform 300ms ease-in-out;
            height: 100%;
            i{
                font-size: 25px;
                
            }
        }
        .user{
            $width:10%;
            position: absolute;
            right: 60px;
            top:0px;
            width: $width;
            .message{
                height: 50px;
                border-bottom: 4px solid rgb(217, 250, 239);
                display: flex;
                overflow: hidden;
                div{
                    flex:1;
                    text-align: center;
                    i{
                        font-size: 25px;
                    }
                }
                h5{
                    text-align: center;
                    flex:2;
                    font-size: 16px;
                }
            }
            .exitButton{
                position: absolute;
                right:0px;
                top:60px;
                box-shadow: 0px 0px 5px rgba(66, 66, 66, 0.952);
                height: 0px;
                width: 150px;
                border-radius: 10px;
                opacity: 0;
                overflow: hidden;
                transition: height 300ms ease-in-out,opacity 300ms ease-in-out;
                h5{
                    background-color: rgb(169, 190, 183);
                    height: 40px;
                    line-height: 40px;
                    font-size: 16px;
                    color: white;
                    margin-top:10px;
                    padding-left: 20px;
                }
            }
        }
    }
    .content{
    }
    .FooterBar{
        $height:45px;
        position: absolute;
        right: 0px;
        bottom: 0px;
        height: $height;
        line-height: $height;
        width: 100%;
        display: flex;
        text-align: center;
        font-size: 16px;
        background-color:  rgb(250, 250, 231);
        color: rgb(226, 196, 150);
        .message{
            flex: 1;
        }
        .time{
            flex: 1;
        }
    }
}

.login{
    margin: 150px auto;
    width: 35%;
    $height:25px;
    border:2px solid #ccc;
    border-radius: 6px;
    padding: 5px;
    .user{
        padding: 10px; 
        input{
            border-radius: 6px;
            border: none;
            height: $height;
            color: #ccc;
            padding-left: 10px;
            outline: none;
            width: 100%;
        }
    }
    .passWord{
        padding: 10px;
        input{
            height: $height;
            border-radius: 6px;
            border: none;
            color: #ccc;
            padding-left: 10px;
            outline: none;
            width: 100%;
        }
    }
    .submit{
        padding: 10px;
        button{
            width: 100%;
            height: $height ;
            background-color: rgb(116, 190, 190);
            border: 0px;
            border-radius: 6px;
            color: #ccc;
        }
    }
}